*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
/* Section home */
#home-parent{
    width:100%;
    height: 100vh;
    background-image: url("../images/bgbody.jpg");
    background-size: cover;
    position: relative;
    background-color:rgba(0, 0, 0, 0.5);
    
    
}
#header{
    width:100%;
    height:65px;
    background-color: aqua;
    margin: auto;
    padding: 20px 20px;
    
    
}
.home-icon1{
    font-size: 30px;
    

}
#header ul{
    float: right;
    margin: auto;
}
#header ul li{
    list-style-type: none;
    display: inline;
    margin-left:20px;
    text-transform: capitalize;
    font-size: 20px;
    
}
.home-icons{
    float: left;
    width:35%;
    margin-top: -10px;

    
}
.home-input{
    height:30px;
    width:80%;
    border-radius: 10px;
}
#home-content{
    width:75%;
    height: 200px;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    opacity: 1;
}
#home-content h1{
    font-size: 60px;
    color: azure;
    text-transform: uppercase;
}
#home-content p{
    font-size: 13px;
    font-weight: bold;
    color: rgb(208, 218, 218);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#btns{
    width:40%;
    margin: auto;

}
.home-btn{
    height:60px;
    width:35%;
    font-size: 20px;
    margin-left: 15px;
    border-radius: 10px;
    text-transform: capitalize;
}
/* Section Fully */
#fully-div{
    width: 100%;
    height: 90vh;
    background-color: blanchedalmond;
    padding: 15px auto;
    margin: auto;

}

#fully-h1{
    font-size: 80px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 25px;
}
#fully-boxes{
    width:90%;
    height: 60%;
    background-color: brown;
    margin: auto;
    
}
.fully-box{
    width:30%;
    background-color: azure;
    height: 80%;
    text-align: center;
    padding: 40px 5px;
    border: solid 1px black;
    border-radius: 10px;
    position: relative;

}
.fully-icon{
    color: black;
    font-size: 30px;
    margin-bottom: 25px;
}
.fully-h2{
    text-transform: capitalize;
    margin-bottom:25px ;
}
.fully-p{
    text-transform: capitalize;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-bottom:25px ;
}
.fully-btn{
    color: blueviolet;
    text-decoration: none;
    font-weight: bolder;
    border: none;
    font-size: 20px;
    }
.fully-btn a{
    text-decoration-line: none;
}
/* fully animation */
.fully-box::after{
    position: absolute;
    top:0;
    left: 0;
    background-color: black;
}
.fully-box::after :hover{
    position: absolute;
    top:100%;
    left: 100%;
    background-color: black;
}