/* .tg:nth-child(1){
  height: 200px;
  width:200px;
  background-color: aqua;
  position: absolute;
  z-index: 1;
}
.tg:nth-child(2){
  height: 200px;
  width:100px;
  background-color: rgb(216, 24, 129);
  position: absolute;

}
.tg:nth-child(3){
  height: 200px;
  width:100px;
  background-color: rgb(216, 24, 129);
  position: absolute;
  z-index: 2;
}
#con{
  height: 400px;
  width: 400px;
  background-color: rgb(65, 235, 74);
  position: relative;
  
  

}
#f{
  height: 600px;
  width: 500px;
  background-color: yellow;
  position: relative;
  
}
h1{
  color: red;
  font-size: 50px;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.a1{
  position: absolute;
  z-index: 12;
  font-size: 2rem;
}
.a2{
  position: absolute;
  z-index: 11;
  font-size: 4rem;
  color: salmon;
  display: none;
  visibility:
  
}

 */
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;}
.test{
  height: 200px;
  width:200px;
  background-color: aqua;
  
  
}
.test2{
  height: 200px;
  width:200px;
  background-color: rgb(104, 15, 85);
  margin: 10px 20px;
 
  
}
.con{
  background-color: rgb(65, 235, 74);
  height: 400px;
  width: 400px;
  font-style: ;

}

